<div class="welcome-box">
  <h1 class="welcome-banner"> Resume Page Under Construction </h1>
  <hr class="divider">
</div>

<ul class="cards container">

  <li class="primer item">
  <h2 class="header-text"> Primer </h2>
	<hr class="divider2">
	<h4 class="resume-text"> 
					Laboratory
	</h4> 
	<h5>
					Computer Vision and Machine Intelligence Group (AI Lab)
	</h5>
	<br>
	<h4 class="resume-text"> 
					Internship(s)
  </h4> 
	<h5>
					Aelogica Philippines, Inc.
	</h5>
	<p>
		https://aelogica.com
		Premier Ruby on Rails and mobile development company with operations in the Philippines.

	</p>
  </li>

  <li class="educ item">
    <h2 class="header-text"> Education </h2>
    <hr class="divider2">

    <h4 class="resume-text"> 
    University of the Philippines Diliman Campus 
    </h4>

    <p>
    BS Computer Science
    <br>
    Batch of 2014   
    </p>

  </li>


  <li class="te item">
    <h2 class="header-text">Technical Expertise</h2>
    <hr class="divider2">

    <h4> Programming Languages </h4>
    <ul class="te-list">
      <li class="te-item">Python</li>
      <li class="te-item">Ruby</li>
      <li class="te-item">C</li>
      <li class="te-item">C++</li>
      <li class="te-item">Java</li>
    </ul>
    <h4> Frontend (and Frameworks)</h4>
    <ul class="te-list">
      <li class="te-item">HTML</li>
      <li class="te-item">CSS</li>
      <li class="te-item">Bootstrap</li>
    </ul>
    <h4> Backend Frameworks </h4>
    <ul class="te-list">
      <li class="te-item">Django</li>
      <li class="te-item">Rails</li>
    </ul>
     <h4>Database SQL's</h4>
    <ul class="te-list">
      <li class="te-item">MySQL</li>
      <li class="te-item">PostgreSQL</li>
    </ul>
    
    <h4> Version Control </h4>
    <ul class="te-list">
      <li class="te-item">Git</li>
    </ul>
    <h4> Productivity Tools </h4>
    <ul class="te-list">
      <li class="te-item">Vim</li>
    </ul>
    <h4> System Administration </h4>
    <ul class="te-list">
      <li class="te-item">Heroku</li>
    </ul>

    <h5> Has satisfactory powers in: </h5>
    <p>Machine Learning, Facebook Messenger Bots, PHP + Codeigniter</p>


  </li>

  <li class="item extra">
    <h2 class="header-text"> Extracurricular</h2>
    <hr class="divider2">
    <h4> Software Projects </h4>
    <ul class="project-list">
      <li class="project-item">
        <h5>Goodhouse Industries, Inc Website</h5>
        <p>Full Stack Developer</p>
      </li>
       <li class="project-item">
        <h5>Pan Xenia Fraternity Website</h5>
        <p>Project Manager</p>
      </li>
       <li class="project-item">
        <h5>SingkoLator Website</h5>
        <p>Project Manager</p>
      </li>
       <li class="project-item">
        <h5>UP Diliman OVCSA Website</h5>
        <p>Backend Developer</p>
      </li>
      
    </ul>
     <h4> Headships </h4>
    <ul class="head-list">
      <li class="head-item">
        <h5>Innov School 6.0 (Innovation Workshop)</h5>
        <p>Event Head 2017</p>
      </li>
       <li class="head-item">
        <h5>UP ACM Algolympics (Flagship Event: Competitive Programming Competition)</h5>
        <p>Event Head 2017</p>
      </li>
       <li class="head-item">
         <h5>UP ACM Easy as Py (High School Python Lecture Series)</h5>
         <p>
         Event Head 2016
         <br>
         Lecturer 2015
         </p>
      </li>
       <li class="head-item">
        <h5>UP ACM Business Week</h5>
        <p>Event Head 2016</p>
      </li>
      
    </ul>
 
  </li>

  <li class="affil item">
    <h2 class="header-text">Affiliations </h2>
    <hr class="divider2">

    <ul class="affil-list">
      <li class="affil-item">
	<%= image_tag "epchi.jpg", class:"logos"%>     
	<h5>UP Epsilon Chi Fraternity</h5>
        <p style="font-weight:bold;font-size:0.9em;">Chairman of Finance and Assets</p>
      </li>
      <li class="affil-item">
	<%= image_tag "upacm.jpg", class:"logos"%>     
        <h5>UP Association for Computing Machinery</h5>
        <p>Education Committee Member</p>
      </li>
      <li class="affil-item">
	<%= image_tag "upcsi.png", class:"logos"%>     
        <h5>UP Center for Student Innovations</h5>
        <p>Innovation Committee Member</p>
      </li>
      
    </ul>
 

  </li>
  <li class="comp item">
    <h2 class="header-text">Competitions</h2>
    <hr class="divider2">
		<ul class="comp-list">
			<li class="comp-item">
				<%= image_tag "dcs.jpg", class:"logos"%>
				<strong>2nd Place</strong>			
        <h5>Capstone Project Competition</h5>
        <p>Project: Intelligent Bus Locator and Load Identifier Using a Raspberry Pi and Selected Modules</p>
      </li>
	
			<li class="comp-item">
				<%= image_tag "freelancer.jpg", class:"logos"%>     
        <h5>Hackzilla 2017 (Freelancer.com Hackathon)</h5>
        <p>App: Text and Speech to Sign Language Using Artificial Intelligence through Google's Cloud Speech API</p>
      </li>
			<li class="comp-item">
				<%= image_tag "healthhacks.png", class:"logos"%>     
        <h5>Healthhacks 2017</h5>
        <p>App: Medical Contingency Planner</p>
      </li>
  			<li class="comp-item">
				<%= image_tag "haxxor.png", class:"logos"%>     
        <h5>UP ACM Haxxor</h5>
        <p>Capture the Flag Hacking Tournament</p>
      </li>
      
    </ul>
 
  </li>




</ul>
